<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .PageTitle}}
    <title>{{.PageTitle}}</title>
    {{else}}
    <title>TRAVELS</title>
    {{end}}

    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
    <header>
        <h1 class="logo">TRAVELS</h1>
        <nav>
            <ul class="menu">
                <li class="link">
                    <a href="/">Путешествия</a>
                </li>
                {{if .IsAuth}}
                <li class="link">
                    <a href="/orders">Мои заказы</a>
                </li>
                <li class="link">
                    <a href="/user/{{.UserId}}">{{.Username}}</a>
                </li>
                {{else}}
                <li class="link">
                    <a href="/sign-in">Войти</a>
                </li>
                <li class="link">
                    <a href="/sign-up">Регистрация</a>
                </li>
                {{end}}
            </ul>
        </nav>
    </header>

    {{block "body" .}} {{end}}
</body>

</html>