<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .PageTitle}}
    <title>{{.PageTitle}}</title>
    {{else}}
    <title>TRAVELS</title>
    {{end}}

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <script src="https://kit.fontawesome.com/104d2e5ecb.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a class="header__logo link__ref" href="/">TRAVELS</a>
        <nav class="header__navbar">
            <ul class="navbar__menu">
                <li class="menu__link">
                    <a class="link__ref" href="/">Путешествия</a>
                </li>
                {{if .IsAuth}}
                <li class="menu__link">
                    <a class="link__ref" href="/orders">Мои заказы</a>
                </li>
                <li class="menu__link">
                    <a class="link__ref" href="/sign-out">Выйти</a>
                </li>
                <li class="menu__link_username">
                    <a class="link__ref" href="/user/{{.UserId}}">{{.Username}}</a>
                    <div class="link__user-avatar"></div>
                </li>
                {{else}}
                <li class="menu__link">
                    <a class="link__ref" href="/sign-in">Войти</a>
                </li>
                <li class="menu__link">
                    <a class="link__ref" href="/sign-up">Регистрация</a>
                </li>
                {{end}}
            </ul>
        </nav>
    </header>

    <div class="container">
        {{block "body" .}} {{end}}
    </div>
</body>

</html>