{{template "base.html" .}}

{{define "body"}}

<h1 class="travels-text">Путешествия</h1>

<div class="travels">
    {{range .Travels}}
    <div class="travels__travel">
        <img class="travel__image" src="{{.ImageURL}}" alt="">
        <div class="travel__info">
            <p class="info__title">{{.Title}}</p>
            <p class="info__place">{{.Place}}</p>
            <p class="info__duration">{{.DurationDays}}дн ({{.Date}})</p>
            <p class="info__complexity">Сложность: {{.Complexity}}/5</p>
            {{if .PartySize}}
            <p class="info_party-size">Группа: {{.PartySize}}</p>
            {{end}}
            <div class="info__order-price">
                <p class="order-price__price">{{.Price}} Р</p>
                <a href="/travel/{{.Id}}" class="order-price__btn">Заказать</a>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}