{{template "base.html" .}}

{{define "body"}}
{{if .IsAuth}}
<h1>Вы вошли как {{.Username}}</h1>
{{end}}

<h1 class="travels-text">Путешествия</h1>

<div class="travels">
    {{range .Travels}}
    <div class="travels__travel">
        <img class="travel__image" src="/static/img/travels/travel.png" alt="">
        <div class="travel__info">
            <p class="info__title">{{.Title}}</p>
            <p class="info__place">{{.Place}}</p>
            <p class="info__duration">{{.DurationDays}}дн ({{.Date}})</p>
            <p class="info__complexity">Сложность: {{range $i := intRange .Complexity}}<i class="fas fa-heart"></i>
                {{end}}</p>
            {{if .PartySize}}
            <p class="info_party-size">Группа: {{.PartySize}} <i class="fas fa-user"></i></p>
            {{end}}
            <div class="info__order-price">
                <p class="order-price__price">{{.Price}} Р</p>
                <button class="order-price__btn">Заказать</button>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}