{{template "base.html" .}}

{{define "body"}}

<div class="form-container">
    <h2 class="form__text">Регистрация</h2>
    <form class="form" onsubmit="return sendForm(event)" action="/auth/sign-up" method="POST">
        <input class="form__input" type="text" id="email" name="email" placeholder="Email">
        <input class="form__input" type="text" id="username" name="username" placeholder="Username">
        <input class="form__input" type="password" id="password" placeholder="Пароль" />
        <button class="form__btn" type="submit">Зарегистрироваться</button>
    </form>
</div>

<script src="/static/js/register.js"></script>
{{end}}