{{template "base.html" .}}

{{define "body"}}

<div class="travel-container" id="travel-{{.Travel.Id}}">
    <img src="/static/img/travels/travel.png" alt="" class="travel__image_single">
    <div class="travel__description">
        <p class="description__title">{{.Travel.Title}}</p>
        <p class="description__place">{{.Travel.Place}}</p>
        <p class="description__description">{{.Travel.Description}}</p>
        <p class="description__duration">Длительность: {{.Travel.DurationDays}} дн</p>
        <p class="description__date">Дата начала: {{.Travel.Date}}</p>
        <p class="description__complexity">Сложность: {{.Travel.Complexity}}/5</p>
        {{if .Travel.PartySize}}
        <p class="description__party">Группа: {{.Travel.PartySize}} человек</p>
        {{end}}
        <p class="description__price">Цена: {{.Travel.Price}}</p>
        {{if .IsAuth}}
        <button id="order-btn" class="description__btn">ЗАКАЗАТЬ</button>
        {{else}}
        <p>Вам необходимо <a href="/sign-in">войти</a>, чтобы заказать это путешествие.</p>
        {{end}}
    </div>
</div>

<script src="/static/js/travel.js"></script>
{{end}}